.navbar-toggler{
    background-color: white;
}

.navbar{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-text{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    cursor: pointer;
    border: 1px solid white;
}
.nav-item{
    margin-right: 20px;
}